<div class="login-container">
    <div class="login-header">Acceso a ViewAnalyzer</div>
    <div class="login-form">
        <div class="form-input-container">
            <div class="input-container">
                <input id="user" type="text" [(ngModel)]="user.username" (focusin)="resetErrorUser()"
                    (focusout)="validateUser()" error-content="usernameErrorMessage" required>
                <label for="user">Usuario</label>
            </div>
            <div class="errorMessage" *ngIf="usernameErrorMessage">{{usernameErrorMessage}}</div>
        </div>
        <div class="form-input-container">
            <div class="input-container">
                <input id="password" type="password" [(ngModel)]="user.password" (focusin)="resetErrorPassword()"
                    (focusout)="validatePassword()" (keyup.Enter)="login()" error-content="passwordErrorMessage" required>
                <label for="password">Contraseña</label>
            </div>
            <div class="errorMessage" *ngIf="passwordErrorMessage">{{passwordErrorMessage}}</div>
        </div>
        <div class="form-button-container">
            <div class="button-container">
                <button class="button--default" [disabled]="!user.isValid()"
                (click)="login()">Acceder</button>
            </div>
            <div class="errorMessage" *ngIf="loginErrorMessage">{{loginErrorMessage}}</div>
        </div>
    </div>
</div>