<div class="view-builder">

    <div class="view-list collapsable-component" title="Vistas creadas">
        <div class="container">
            <div class="loading" *ngIf="loading"></div>
            <div class="data" *ngIf="!loading && thereAreViews">
                <app-data-table [list]="viewOutputListener"></app-data-table>
            </div>
            <div class="no-data" *ngIf="!loading && !thereAreViews">No se han encontrado ventanas creadas actualmente.</div>
        </div>
    </div>

    <!-- <view-simulator></view-simulator> -->
</div>