@font-face {
    font-family: 'B612';
    src: url('../resources/fonts/B612.ttf'); 
}
@font-face {
    font-family: 'KoHo';
    src: url('../resources/fonts/KoHo.ttf'); 
}
@font-face {
    font-family: 'Lato';
    src: url('../resources/fonts/Lato.ttf'); 
}
@font-face {
    font-family: 'WorkSans';
    src: url('../resources/fonts/WorkSans.ttf'); 
}
@font-face {
    font-family: 'Yatra';
    src: url('../resources/fonts/Yatra.ttf'); 
}